{% extends "base_generic.html" %}

{% block content %}
    <h1 class="h">{{ object.name }}</h1>
    <p class="td">{{ object.pages }} pages<br>
        Price - {{ object.price }} $<br>
        Rating - {{ object.rating }} ★ <br>
        Date of publication - {{ object.pubdate }}<br>
        Publisher -
        {% if q2 %}
            {{ q2.name }}<br>
        {% else %}
            Unknown publisher
        {% endif %}
        Authors -
        {% if books %}
            {% for i in books %}
                <div class="minp">{{ i.authors }}</div>
            {% endfor %}
        {% else %}
            Unknown author
        {% endif %}
    {#---------------------------------------------------------------#}
    {#    Ты тут для prefetch_related    #}

    {#     {% for i in books %}#}
    {#            {% if i.id == book.id %}#}
    {##}
    {#                {% for it in i.authors %}#}
    {#                    <div class="minp">{{ it }} </div>#}
    {#                {% endfor %}#}
    {#            {% endif %}#}
    {#        {% endfor %}#}

{% endblock %}