{% extends "base_generic.html" %}

{% block content %}
    <h1 class="h">Stores List</h1>
    Number of stores - {{ q }}
    {% if store_list %}
        <ul>

            {% for st in store_list %}
                {% for i in q1 %}
                    {% if i.name == st.name %}
                        <li>
                            <a href="{% url 'bookstore:store_detail' pk=st.pk %}">{{ st.name }}</a> - {{ i.num }} books
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </ul>

    {% else %}
        <p>There are no stores</p>
    {% endif %}
{% endblock %}