{% extends "base_generic.html" %}

{% block content %}
    <h1 class="h">{{ book.name }}</h1>
    <p class="td">{{ book.pages }} pages<br>
        Price - {{ book.price }} $<br>
        Rating - {{ book.rating }} ★ <br>
        Date of publication - {{ book.pubdate }}<br>
        Publisher - {{ q2.name }}<br>
        Authors -
        {% if books %}
            {% for i in books %}
                <div class="minp">{{ i.authors }}</div>
            {% endfor %}
        {% else %}
            Unknown author
        {% endif %}
{#---------------------------------------------------------------#}
{#    Ты тут для prefetch_related    #}

{#     {% for i in books %}#}
{#            {% if i.id == book.id %}#}
{##}
{#                {% for it in i.authors %}#}
{#                    <div class="minp">{{ it }} </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        {% endfor %}#}

{% endblock %}