{% extends "base_generic.html" %}

{% block content %}
    <h1 class="h">Book List</h1>
    Average price - {{ q }}

    {% if book_list %}
        <ul>

            {% for i in q1 %}
                {% for book in book_list %}
                    {% if i.name == book.name %}
                        <li>
                            <a href="{% url 'bookstore:book_detail' pk=book.pk %}">{{ book.name }}</a>
                            ({{ book.price }} $)
                            - {{ i.num }} authors
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </ul>




    {% else %}
        <p>There are no books</p>
    {% endif %}

{% endblock %}